#packages123 {
    padding: 20px;
    /*background-color: #f9f9f9;/* Updated to cover full screen */
    
    display: flex;
    flex-direction: column; /* Align packages in a column */
    align-items: center; /* Center content horizontally */
}
#packages123 h2{
    color:#521d02;
    margin-top: 60px;
    align-self: flex-start;
}
.package-container123 {
    display: flex;
    justify-content: space-around;
    width: 100%; /* Adjusted width */
    margin-top: 20px; /* Added margin for spacing */
}
#packlink{
    text-decoration: none;
}
.package-card123 {
    backdrop-filter:blur(15px);
    /*
    background-color: white;*/
    border: 5px solid rgb(255,255,255,0.1);
    padding: 20px;
    width: 350px;
    text-align: center;
    border-radius: 15px; /* Added curved borders */
     box-shadow: 0 5px 10px #521d02;/* Added box shadow */
    transition: transform 0.3s ease; /* Added smooth transition */
}
.package-card123 .linkh{
    text-decoration: none;
    color: #fcab26;
}



.package-card123 .linkh:hover{
    color: #fcab26;
    text-shadow:#fcab26 9px 0 20px;
}
.mailbutt:hover{
    transform: translateY(-5px);
    /* Added hover effect */
}
.whatbutt:hover{
    transform: translateY(-5px);
    /* Added hover effect */
}
.package-card123 img {
    width: 20%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
    
    border-radius: 10px;
    
    /* Added curved borders for image */
}

.package-info123 h3 {
    color: #fcab26;
    /* Primary color: Dark Yellow/Golden */
}

.package-info123 .bullet-points123 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.package-info123 .bullet-points123 li {
    position: relative;
    padding-left: 1.5em;
    color: #521d02;/* Color of the text */
    text-align: left;   
    font-weight: bold; /* Bold text */
    margin-bottom: 10px; /* Adjust spacing between bullet points */
}

.package-info123 .bullet-points123 li:before {
    content: '\2658'; /* Bullet point character */
    position: absolute;
    left: 0;
    color: #521d02; /* Color of the bullet point */
}
.packcon{
    display: flex;
    flex-direction: r;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mailbutt{
    height: 50px;
    width: 145px;
    margin-left: 0;
    background-color: #fcab26;
    border-radius: 15px;
    display: flex;
    padding: 20px;
    margin-right: 5px;
    justify-content:space-evenly;
    align-items: center;
}
.whatbutt{
    
    height: 50px;
    width: 145px;
    margin-right: 0;
    background-color: #fcab26;
    border-radius: 15px;
    display: flex;
    padding: 20px;
    margin-left:5px;
    justify-content: space-evenly;
    align-items: center;
}

.packcon img{
    padding-top: 5px;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    
}
.packwh{

    text-decoration: none;
}
.packmail{
    text-decoration: none;
}
.whatbutt h6{
    margin-left: 2px;
    color:#521d02;
    
}
.mailbutt h6{
    color:#521d02;
    
}
@media (max-width: 768px){

#packages123 {
        flex-direction: column;
        align-items: center;
    }

    .package-container123 {
        flex-direction: column;
        align-items: center;
    }

    .package-card123 {
        margin-top: 20px;
        width: 90%; /* Take full width on smaller screens */
        margin: 5px 0; /* Adjust margin for spacing */
    }
    .mailbutt,.whatbutt{
        margin-top:5px; 
        max-width: 125px;
    }
}